########## .NET / C# ##########

# Build results
bin/
obj/
[Bb]uild/
[Ll]og/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/

# Dotnet user files
*.user
*.suo
*.userosscache
*.userprefs
*.csproj.user

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/
*.nuspec
*.psmdcp

# Artifacts
*.dll
*.exe
*.pdb
*.cache
*.mdb
*.sourcelink.json

# Logs
*.log

# Database / Temp files
*.db
*.jfm
*.tmp
*.bak

########## Visual Studio ##########

.vs/
.vscode/

########## OS files ##########

.DS_Store
Thumbs.db

########## Docker ##########

docker/.env
docker/volumes/
docker/database/
docker/backup*.sql

########## Backend ##########

backend/appsettings.Development.json
backend/wwwroot/covers/
backend/wwwroot/profiles/

########## Frontend (React / Vite) ##########

node_modules/
dist/
*.local
*.lock

########## Test Project ##########

TestProject/coverage-report/
coverage/
coverage-report/
lcov-report/
*.lcov
*.cov
*.coverage
coverage.cobertura.xml

########## Environment files ##########

.env
*.env
