.divider {
    &--horizontal {
      width: 100%;
      height: 1px;
      background-color: #ffffff33; // semi-transparent white for dark theme
      margin: 12px 0;
    }
  
    &--vertical {
      width: 1px;
      height: 100%;
      background-color: #ffffff33;
      margin: 0 12px;
    }
  }
  