html, #root {
  height: 100%;                 
  background-color:  #212121; 
}

#root {
  padding: 20px;
}

.main-page {
  display: flex;
  flex-direction: row;
  // flex: 2 1 auto;
  


  .vDivider {
    width: 1px;
    height: 100vw;
    margin: 0 15px ;
    background: #ffffff16;
    border-bottom: 1px solid black;
}
  

  .left-side {
    max-width: 40%;
    display: flex;
    flex-direction: column;
  }

  .right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    #search-bar {
      width: 80%;
      padding: 5px;
      background: #212121;
      color: white;
      border: 1px solid 	#1aa64b;
      box-shadow: rgba(100, 100, 111, 0.096) 0px 7px 29px 0px;
      &::placeholder {
        color: rgba(255, 255, 255, 0.79);
        text-align: center;
      }
      &:focus {
        border: 1px solid #457e59;
        
      }
      

    }

  }
}

.home-page-btns {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 400px;



}


.add-playlist-btn {
  padding: 10px;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.096) 0px 7px 29px 0px;
  background-color: 	#1aa64b;
  font-weight: 600;
  

  


  &:hover {
    transform: scale(1.05);
    border-radius: 5px;
  
  }

}
