.loginPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loginBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #0f1516;
    border: 1px solid #1e2426;
    padding: 40px 20px;
    border-radius: 20px;
    max-width: 500px;
    .header {
        font-size: 32px;
    }
    .text {
        font-size: 16px;
        font-weight: 100;
        color: #6b7778;
        
    }

    form {
        .nameRow {
            display: flex;
            flex-direction: row;
            gap: 2px;
        }
        width: 100%;
        .formGroup {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
            label {
                font-size: 16px;
                font-weight: 100;
                color: #6b7778;
            }
            input {
                border-radius: 20px;
                padding: 8px;
                border: 1px solid #1e2426;
                background-color: #140c0c56 !important;
                width: 100%;
                &::placeholder {
                    font-size: 16px;
                    font-weight: 100;
                    color: #6b77783e;
                }
            }
           
        }
    }

    

}

.signInBtn {
    width: 100%;
    border-radius: 20px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    margin-bottom: 20px;
    .icon {
        margin-right: 8px;
    
    }
}

.signupText {
    text-align: center;
    align-self: center;

    .grey {
        color: #6b7778;
    }
}




