// Backgrounds
$bg-main: #0f1724;
$bg-secondary: #162233;
$card-bg: #0b1520;

// Borders
$border-main: #ffffff00;

// Text / Foreground
$foreground-main: #e6eef8;
$foreground-secondary: #cfeaf3;

// Accents
$accent-primary: #1db954;
$accent-darken: #16a34a;
