.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .heroDiv {
        margin-top: 60px;
        margin-bottom: 16px;
        background-color : #0f1516;
        border: 1px solid #1e2426;
        color: #afffcc;
        padding: 6px;
        font-size: 12px;
        border-radius: 10px;
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
       
        &:hover {
            transform: scale(1.02);
        }
        .sparklesIcon {
            margin-right: 8px;
        }
    }

    .header {
        font-size: 62px;
        text-align: center;
    }

    .desc {
        color: #6b7778;
        font-weight: 200;
        text-align: center;
        font-size: 24px;
        margin-bottom: 20px;
    }

    .landingBtns {
        display: flex;
        gap: 20px;
        button {
            border-radius: 20px;
            padding: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 100;
            .playIcon, .plusIcon {
                margin-right: 8px;
            }

        }
    }

    .landingPerks {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        gap: 15px;
        div {
            background-color: #0f1516;
            border: 1px solid #1e2426;
            border-radius: 10px;
            padding: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 200px;
           
            &:hover {
                transform: scale(1.05);
            }
            .icon {
                margin-bottom: 10px;
               
            }
            h3 {
                text-align: center;
                font-size: 24px;
            }
            p {
                color: #6b7778;
                font-size: 12px;

            }
            
        }

    }
   
}