.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    .left {
        a {
           text-decoration: none; 
        }

    }
    .navLinks {
        display: flex;
        gap: 15px;
    }
    .username {
        margin-right: 20px;
    }
}